[tool.poetry]
name = "OpenModelicaCompiler"
version = "0.2.0a0"
description = "OpenModelica compiler (omc) interface for Python"
repository = "https://github.com/ijknabla/OpenModelicaCompilerForPython"
authors = ["ijknabla <ijknabla@gmail.com>"]
readme = "README.md"
license = "GPL-3.0, OSMC-PL 1.2 (user's choice)"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Programming Language :: Python :: 3 :: Only",
    "Topic :: Scientific/Engineering :: Mathematics",
    "Topic :: Scientific/Engineering :: Physics",
    "Topic :: Software Development :: User Interfaces",
]
packages = [
    { include = "omc4py"},
]

[tool.poetry.dependencies]
python = "^3.6"
Arpeggio = ">=1.6"
numpy = ">=1.7.0"
pyzmq = ">=17.0.0"
typing-extensions = ">=3.7.2"
modelicalang = "^0.1.0a0"

[tool.poetry.group.dev.dependencies]
inquirer = "^2.8.0"
lxml = "^4.6.5"
pytest = "^6.2.5"
pytest-dependency = "^0.5.1"
tqdm = "^4.62.3"
pyproject-flake8 = "^0.0.1-alpha.2"
isort = "^5.8"
black = ">=20.8.b1"
mypy = "^0.971"
types-setuptools = "^65.7.0.3"
types-arpeggio = {git = "https://github.com/ijknabla/types-arpeggio.git", rev = "main"}

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 79

[tool.flake8]
exclude = ".venv"

# Allow too-long line in auto-generated modules
per-file-ignores = "omc4py/*/_omc_interface.py:E501"

# The current omc4py metaclass is inevitably complicated
# to express the behavior of the Modelica class.
max-complexity = 20

# Ignore whitespace before colon
extend-ignore = "E203,"

[tool.isort]
profile = "black"
line_length = 79
