arpeggio==1.10.2 ; python_version >= "3.7" and python_version < "4.0"
cffi==1.15.0 ; python_version >= "3.7" and python_version < "4.0" and implementation_name == "pypy"
click==8.1.3 ; python_version >= "3.7" and python_version < "4.0"
colorama==0.4.4 ; python_version >= "3.7" and python_version < "4.0" and platform_system == "Windows"
exceptiongroup==1.1.2 ; python_version >= "3.7" and python_version < "4.0"
importlib-metadata==4.2.0 ; python_version >= "3.7" and python_version < "3.8"
modelicalang==0.1.0a0 ; python_version >= "3.7" and python_version < "4.0"
py==1.11.0 ; python_version >= "3.7" and python_version < "4.0" and implementation_name == "pypy"
pycparser==2.21 ; python_version >= "3.7" and python_version < "4.0" and implementation_name == "pypy"
pyyaml==6.0.1 ; python_version >= "3.7" and python_version < "4.0"
pyzmq==22.3.0 ; python_version >= "3.7" and python_version < "4.0"
tqdm==4.62.3 ; python_version >= "3.7" and python_version < "4.0"
typing-extensions==4.5.0 ; python_version >= "3.7" and python_version < "4.0"
zipp==3.6.0 ; python_version >= "3.7" and python_version < "3.8"
